@tailwind base;
@tailwind components;
@tailwind utilities;


/* css/style.css */
html {
    scroll-behavior: smooth;
  }
/* menu toggle css */

.menu {
    display: none;
}

.menu.open {
    display: block;
}

/* testmonial css */
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '' !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}

.swiper-button-next svg,
.swiper-button-prev svg {
    width: 24px !important;
    height: 24px !important;
}

.swiper-button-next,
.swiper-button-prev {
    position: relative !important;
    margin-top: 32px;
}

.swiper-slide.swiper-slide-active {
    --tw-border-opacity: 1 !important;
    border-color: rgb(79 70 229 / var(--tw-border-opacity)) !important;
}

.swiper-slide.swiper-slide-active>.swiper-slide-active\:text-indigo-600 {
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
}

.swiper-slide.swiper-slide-active>.flex .grid .swiper-slide-active\:text-indigo-600 {
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
}

.christmasTagBox {
    position: fixed;
    top: 150px;
    right: 10px;
    animation: move 1s infinite alternate;
}

.octal-img {
    width: 275px;
    height: 100px;
    object-fit: fill;
}

 #quoteModal {
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    opacity: 0;
}

#quoteModal:not(.hidden) {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    max-height: 80vh;
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; 
}

.modal-content {
    max-height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 768px) {
    .modal-content {
      
        height: calc(100vh - 2rem);
    }   
}

.form-input:focus {
    outline: 2px solid #ff5c2b;
    border-color: #ff5c2b;
}

.btn:hover {
    background-color: #ff4411;
}


#mobile-menu {
    overflow-y: auto; 
    max-height: 100vh; 
    -webkit-overflow-scrolling: touch; 
}
.menu-content-bg {
    overflow-y: auto; 
    max-height: calc(100vh); 
    -webkit-overflow-scrolling: touch;
    margin-bottom: 50px;
}